#! /bin/sh

team="team0"

docker build -t bot:latest -f Dockerfile.bot .
docker tag bot:latest $team.registry.alberto247.xyz:7394/bot/bot:latest
docker push $team.registry.alberto247.xyz:7394/bot/bot:latest